<div class="bio">

    <a href="{{personalUrl}}" target="_blank">
        <img class="bio-image" src="dist/{{imgSrc}}">
        <div class="bio-name"> {{name}} </div>
    </a>

    <div class="bio-pronouns">{{pronouns}}</div>

    <div class="bio-description">
        {{description}}
    </div>
</div>